@page "/"

<PageTitle>Home</PageTitle>

<h1>Helo fren</h1>

<h1>THIS IS HOME PAGE</h1>
<h1>This is a new line</h1>
<h1>But one new line is not enough</h1>
<h2>Have two</h2>

<h6>smol</h6>
<h2>Have Three?</h2>

<h1>Test</h1>