@inherits LayoutComponentBase


<div class="dark bg-gray-900 min-h-screen flex flex-col  text-gray-200 body-font ">
    <!-- Main content area where @Body will be rendered -->
    <main class="pt-4 pb-4 mx-auto " style="max-width: 1200px;">
        @Body
    </main>
</div>

@* TODO IDK WHY THIS IS TRIGGERING. DISABLED UNTIL FUTURE ME CAN FIGURE OUT WHY *@
@* <div id="blazor-error-ui"> *@
@*     An unhandled error has occurred. *@
@*     <a href="" class="reload">Reload</a> *@
@*     <a class="dismiss">🗙</a> *@
@* </div> *@

@code {

}
