<a href="/pagetest"
   class="flex flex-col items-center justify-center p-2 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
    <Icon Name="IconName.Bell" ></Icon>
    <span class="text-xs mt-1">Bell</span>
</a>

<a href="/pagetest"
   class="flex flex-col items-center justify-center p-2 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
    <Icon Name="IconName.Bell" ></Icon>
    <span class="text-xs mt-1">Bell</span>
</a>

<a href="/PageScan"
   class="flex flex-col items-center justify-center p-2 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
    <Icon Name="IconName.Camera" IconSize="IconSize.x2"></Icon>
    <span class="text-xs mt-1">Scan</span>
</a>

<a href="/pagetest"
   class="flex flex-col items-center justify-center p-2 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
    <Icon Name="IconName.Bell"></Icon>
    <span class="text-xs mt-1">Bell</span>
</a>

<a href="/pagetest"
   class="flex flex-col items-center justify-center p-2 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
    <Icon Name="IconName.Bell"></Icon>
    <span class="text-xs mt-1">Bell</span>
</a>
