<a href="/pagetest"
   class="flex flex-col items-center justify-center p-2 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
    <Icon Name="IconName.Comment" ></Icon>
    <span class="text-xs mt-1">Advisor</span>
</a>

<a href="/pageAnalytic"
   class="flex flex-col items-center justify-center p-2 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
    <Icon Name="IconName.ChartPie" ></Icon>
    <span class="text-xs mt-1">Analytic</span>
</a>

<a href="/PageScan"
   class="flex flex-col items-center justify-center p-2 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
    <Icon Name="IconName.Camera" IconSize="IconSize.x2"></Icon>
    <span class="text-xs mt-1">Scan</span>
</a>

<a href="/Reports"
   class="flex flex-col items-center justify-center p-2 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
    <Icon Name="IconName.SdCard"></Icon>
    <span class="text-xs mt-1">History</span>
</a>

<a href="/Account"
   class="flex flex-col items-center justify-center p-2 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
    <Icon Name="IconName.User"></Icon>
    <span class="text-xs mt-1">Account</span>
</a>
