@page "/admin"
@inject CurrentSession CurrentSession

@if(!_isAdmin)
{
    <Alert Color="Color.Danger" Visible>
        <AlertMessage>Unauthorized</AlertMessage>
        <AlertDescription>You are not authorized to view this page</AlertDescription>
    </Alert>
}
else
{
    <h3>Secret Admin Page</h3>
    <Button Clicked="AddCreditToEveryone" Color="Color.Primary">Grants everyone free credit</Button>
}

@code {
    private bool _isAdmin = false;
    protected override async Task OnInitializedAsync()
    {
        var user = await CurrentSession.GetUser();
        _isAdmin = user?.IsAdmin ?? false;
    }

    private async void AddCreditToEveryone()
    {
        var brokeUser = RezApi.Users.AllUsers.Where(c => c.FreeTokenBalance == 0).ToList();
        foreach (var user in brokeUser)
        {
            user.FreeTokenBalance = 50000;
        }
        await RezApi.DbManager.User.AddOrUpdateUserMany(brokeUser);
        Console.WriteLine("Done");
    }

}
