@page "/Reports"

<div class="max-w-5xl">

    <RadioGroup TValue="string" Name="colors" @bind-CheckedValue="@TabValue" Color="Color.Warning" Buttons>
        <Radio Value="@("1")"> Scan History </Radio>
        <Radio Value="@("2")"> Receipts </Radio>
        <Radio Value="@("3")"> Analytics </Radio>
    </RadioGroup>

    <div class="mt-2 mb-2">
        <Divider></Divider>
    </div>


    @if (TabValue == "1")
    {
        <PageReportAll></PageReportAll>
    }
    @if (TabValue == "2")
    {
        <PageReceiptAll></PageReceiptAll>
    }
    @if (TabValue == "3")
    {
        <PageAnalytic></PageAnalytic>
    }
</div>


@code {
    string TabValue { get; set; } = "2";

    public List<ScanTask> Results { get; set; } = new List<ScanTask>();
}
