<div class="mb-2">
	@if (TaskId == null)
	{
		<div class="text-sm mb-1">@Header</div>
	}
	else
	{
		<a href="reports/@TaskId">
			<div class="text-sm bg-blue-700 rounded-lg px-2 mb-1 flex max-w-max">
				<div class="max-w-40"><p class="truncate text-white">@Header</p></div>
				<div class="pl-2 place-self-right"><Icon Name="IconName.AngleRight"></Icon></div>
			</div>
		</a>
	}
	<Progress Color="Color.Success" Value="@((int)(Percentage*100))"/> 
	<div class="text-xs text-right">@ChildContent</div>	
</div>

@code {
	[Parameter]
	public string Header { get; set; } = "";

	[Parameter]
	public double Percentage { get; set; } = 0;

	[Parameter]
	public string TaskId { get; set; } = null;

	[Parameter]
	public RenderFragment ChildContent { get; set; } = null!;
}
