<div class="mb-2">
	<div class="text-sm">@Header</div>
	<Progress Color="Color.Success" Value="@((int)(Percentage*100))"/> 
	<div class="text-xs text-right">@ChildContent</div>
</div>

@code {
	[Parameter]
	public string Header { get; set; } = "";

	[Parameter]
	public double Percentage { get; set; } = 0;

	[Parameter]
	public RenderFragment ChildContent { get; set; } = null!;
}
