<div class="flex flex-col justify-center items-center">
    <img src="https://walfiegif.files.wordpress.com/2023/07/out-transparent-24.gif" alt="Loading" style="width:400px;">
    <div>
        <Heading Size="HeadingSize.Is3">This feature is Coming soon</Heading>
    </div>
</div>