<div class="grid grid-cols-3 mb-1 pb-2">
    
    @if (Label != "!Separator!")
    {
        <dt class="text-sm font-medium text-white font-medium pr-5">
            @Label
        </dt>

        <dd class="text-sm text-slate-300 col-span-2">
            @ChildContent
        </dd>
    } 
    else
    {
        <div class="w-full border-b-2 col-span-3 border-dotted my-2"></div>
    }


</div>

@code {
    [Parameter] public string Label { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;


}
