<div class="grid grid-cols-3 mb-1 pb-2">
    <dt class="text-sm font-medium text-white font-medium">
        @Label
    </dt>

    <dd class="text-sm text-slate-300 col-span-2">
        @ChildContent
    </dd>
</div>

@code {
    [Parameter] public string Label { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;


}
